@media (max-width:1500px){
    .left{
        background-color: black;
        position:absolute;
        left:-120%;
        transition: all .3s;
        z-index: 1;
        width: 370px;
        padding: 0;
    }

    .left .close{
        position: absolute;
        display: block;
        top: 25px;
        right: 30px;
        width: 35px;
    }

    .left .close img{
        width: 35px;
    }

    .right{
        width: 100vw;
        margin: 0;
    }

    .playbar{
        width: calc(100vw - 50px);
    }

    .seekBar{
        width: calc(100vw - 50px);
    }

    .hamburger{
        display: block;
    }
    .card .play{
        right: 1vw;
    }

    .card:hover .play{
        bottom:11vmin;
        right: 1vw;
    }


}

@media (max-width:900px) {
    .cardContainer{
        justify-content: center;
    }
    .play{
        right: 1vw;
    }
    .card:hover .play{
        right: 1vw;
    }
    

}

@media (max-width:800px){
    .songDisplayer{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .cardContainer{
        max-height:65vh ;
    }

}



@media (max-width:600px){
    .card{
        width: 90vw;
    }
        
    .cardContainer{
        justify-content: center;
        max-height:58vh;
    }

    .songDisplayer{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .spotifyPlaylists h2{
        padding: 0 4px;
    }

    .play{
        right:4vw;
    }

    .card:hover .play{
        cursor: pointer;
        bottom: 16vh;
        right: 4vw;
        opacity: 1;
    }
    
}

@media (max-width:480px){
    .card{
        width: 86vw;
    }

    .play{
        right:4vw;
    }

    .card:hover .play{
        cursor: pointer;
        bottom: 12vh;
        right: 4vw;
        opacity: 1;
    }
}